/* ALLE HAR MED NAVBAR OG TOPPEN OG GJØRE */
.nav-link:hover{
    cursor: pointer;
    font-weight: bold; 
 
}
.navbar {
    background-image: url('./src/images/custombg.webp');
    opacity: 0.8;
}

#top-div {
    padding-top: 60px; 
   
}

/*BILDER*/

.app-background {
    background-image: url('./src/images/custombg.webp');
    color: white;   
    
    
}

