/* ALLE HAR MED NAVBAR OG TOPPEN OG GJØRE */
.nav-link:hover{
    cursor: pointer;
    font-weight: bold; 
 
}
.navbar {
    background-image: url('/custombg.webp');
    opacity: 0.8;
}
.footer{
    background-image: url('/custombg.webp');
    color:whitesmoke;
    opacity: 0.9;
}

#bottom-div {
    margin-bottom: 100px;  
}
.navbar .nav-link.active {
    padding-bottom: 0%;
    margin:0%;
    border-bottom: whitesmoke solid 3px
}

/*BILDER*/
.zind {
    z-index: 2;
}
.welcome {
    position: relative; /* Establish positioning context */
   
}
.welcome::before {
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: scaleX(-1);
    background-image: url('/speil1.png');
    background-size: 40vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 0.7; /* Adjust the opacity as needed */
}
#aboutbgpic {
    position: relative; /* Establish positioning context */
   
}
#aboutbgpic::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: scaleX(-1);
    background-image: url('/speilred.png');
    background-size: 43vh;
    background-position: bottom left;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: 0;
   
    /* color: rgba(0, 0, 0); */
}
.app-background {
    background-image: url('/custombg.webp');
    color:whitesmoke;
    
    /* color: black;    */
}

.about{
    background-image: url('/fabric_1.webp'); 
    color: black;
}

.card {
    background-image: url('/45degreee_fabric.webp');
    
}
.cursor {
    cursor: pointer;
}

@media (max-width: 576px) {
    .balle {
      font-size: 1rem;
    }
  }
@media (min-width: 576px) {
    .linjeskift {
    display: none;
    }
  }
  










/* #scrollingBtn {
    position: fixed;
    bottom: 20px;
    right: 50%;
    z-index: 9999; 
  } */

